@using BookingWebService.ViewModels
@model List<HotelNumberViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    var hotelNumbers = Model.ToArray();
}

<div class="container">

    @for (int i = 0; i < 2 && i < hotelNumbers.Count() / 3; i++)
    {
        <div class="row">

            @for (int j = 0; j < 3; j++)
            {
                <div class="col-sm-4">
                    <img src="@string.Format("data:image/png;base64,{0}", @hotelNumbers[i*3 + j].Image)" class="img-thumbnail">
                    <div class="row">
                        <div class="col-sm-8">
                            <p>Hotel: @hotelNumbers[i*3 + j].HotelName</p>
                        </div>
                        <div class="col-sm-4">
                            <a type="button" class="btn btn-primary" asp-controller="Home" asp-action="Number" asp-route-id="@hotelNumbers[i*3 + j].Id">Details</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    }
</div>

